::selection {
    color: #2e3440;
    background: #88c0d0;
}

body.flat #main {
    color: #eceff4;
    background-color: #2e3440 !important;
}

body.flat {
    background-color: #2e3440 !important;
}

body.flat .dijitContentPane,
body.flat .dijitDialog,
body.flat .dijitTab.dijitChecked,
body.flat .dijitTabPaneWrapper {
    background-color: #2e3440;
}

body.flat .dijitAccordionInnerContainer.dijitSelected .dijitAccordionTitle {
    background-color: #3b4252;
}

.flat .dijitTab i.material-icons,
.flat .dijitAccordionInnerContainer:not(.dijitSelected) i.material-icons {
    color: #88c0d0;
}

body.flat a:any-link:any-link {
    color: #88c0d0;
    text-decoration: none;
    border-radius: 0.2em;
    padding: 0 0.2em;
    transition: background-color 0.2s ease-in-out;
}

body.flat a:any-link:any-link:hover {
    background-color: #4c566aaa;
}

body.flat a:any-link:any-link:hover:has(>img) {
    background-color: transparent;
}

body.flat a:any-link:any-link:any-link>img {
    filter: brightness(80%);
    transition: all 0.3s ease-in-out;
}

body.flat a:any-link:any-link:any-link>img:hover {
    filter: brightness(100%);
}

body.flat .Error:not(.dijitTreeRowSelected) .dijitTreeLabel,
body.flat #feeds-holder .Error .dijitTreeLabel {
    color: #bf616a !important;
}

#content-wrap#content-wrap .dijitContentPane {
    background-color: #2e3440
}

#toolbar-frame#toolbar-frame #toolbar {
    background-color: #2e3440;
}

#feeds-holder#feeds-holder {
    background: #242933;
    margin-left: -45px;
    padding-left: 45px;
    border-top-right-radius: 19px;
    border-bottom-right-radius: 19px;
    box-shadow: rgb(15, 17, 21, 0.2) 2px 0px 6px 0px;
    z-index: 3;
}

#headlines-frame#headlines-frame#headlines-frame>.hl {
    background-color: #2e3440;
    box-shadow: rgb(15, 17, 21, 0.2) 2px 0px 6px 0px;
}

#headlines-frame#headlines-frame#headlines-frame>.hl:where(.Unread) {
    background-color: #242933;
    box-shadow: rgb(15, 17, 21, 0.2) 2px 0px 6px 0px;
}

#headlines-frame>.hl:first-child {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#headlines-frame>.hl:nth-last-child(2) {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#headlines-frame#headlines-frame>.hl>* {
    transition: background-color 0.2s ease-in-out;
}

#headlines-frame#headlines-frame>.hl:hover>* {
    background-color: #3b4252;
}

#headlines-frame>.hl:first-child>* {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#headlines-frame>.hl:nth-last-child(2)>* {
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

#headlines-frame#headlines-frame>.hl>.title {
    padding-left: 15px;
    padding-right: 15px;
}

#headlines-frame#headlines-frame>.hl>.left {
    padding-right: 10px;
}

#headlines-frame#headlines-frame>.hl>.feed.vfeedMenuAttach {
    padding-left: 10px;
}

#headlines-frame#headlines-frame>.hl>.right>.icon-feed {
    left: 10px;
}

#content-wrap#content-wrap#content-wrap .hl:is(.active, .Selected) {
    z-index: 2;
    color: #88c0d0;
    border-color: #88c0d0;
    background-color: #3b4252 !important;
}

#content-wrap#content-wrap .hl.marked {
    z-index: 2;
    color: #8fbcbb;
    border-color: #8fbcbb;
    background-color: #2e3440 !important;
}

#headlines-frame#headlines-frame .hl.hl .title {
    color: #d8dee9;
}

#headlines-frame#headlines-frame .hl.hl.Unread .title {
    color: #e5e9f0;
}

#headlines-frame>.hl .feed.vfeedMenuAttach a {
    box-shadow: rgb(15, 17, 21, 0.2) 2px 0px 6px 0px;
}

#headlines-frame>.hl:nth-child(4n+1) .feed.vfeedMenuAttach a {
    background: #8fbcbb !important;
    color: #4c566a !important;
}

#headlines-frame>.hl:nth-child(4n+2) .feed.vfeedMenuAttach a {
    background: #88c0d0 !important;
    color: #4c566a !important;
}

#headlines-frame>.hl:nth-child(4n+3) .feed.vfeedMenuAttach a {
    background: #81a1c1 !important;
    color: #4c566a !important;
}

#headlines-frame>.hl:nth-child(4n+4) .feed.vfeedMenuAttach a {
    background: #5e81ac !important;
    color: #d8dee9 !important;
}

#content-wrap#content-wrap .icon-no-feed {
    color: #d8dee9;
}

#content-wrap#content-wrap .post .header {
    background-color: #3b4252;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-right: 6px;
    border-width: 0px;
    box-shadow: rgb(15, 17, 21, 0.2) 2px 0px 6px 0px;
}

#content-wrap#content-wrap .content img,
#content-wrap#content-wrap .content video {
    border-radius: 15px !important;
    box-shadow: rgb(15, 17, 21, 0.2) 2px 0px 6px 0px;
}

#headlines-frame#headlines-frame#headlines-frame>.hl .dijitCheckBox.dijitChecked {
    color: #ebcb8b;
}

body.ttrss_main .hl.marked .left i.marked-pic {
    color: #a3be8c;
}

body.ttrss_main .hl.published .left i.pub-pic {
    color: #d08770;
}

#content-wrap#content-wrap .icon-score {
    color: #b48ead;
}

body.ttrss_main #feeds-holder #feedTree .dijitTreeNode .dijitTreeRow.Is_Feed .loadingNode {
    filter: invert(50%) brightness(100%) !important;
}

#feeds-holder#feeds-holder #feedTree .dijitTreeRow .loadingNode {
    filter: none;
}

#content-wrap#content-wrap :is(.content, .content-inner) {
    color: #eceff4;
}

body.flat :is(.dijitButton, .dijitDropDownButton) .dijitButtonNode {
    background-color: #3b4252;
}

body.flat :is(.dijitButton, .dijitCheckBox, .dijitComboButton, .dijitDropDownButton, .dijitMultiSelect, .dijitSelect, .dijitTextBox):is(.dijitActive, .dijitFocused, :focus-within):not(.dijitDisabled) {
    box-shadow: 0 0 0 2px #88c0d0;
}

body.flat .dijitCheckBox,
body.flat .dijitComboBoxMenu,
body.flat .dijitComboBoxMenuPopup,
body.flat .dijitMenu,
body.flat .dijitMenuPopup,
body.flat .dijitMultiSelect,
body.flat .dijitSelect,
body.flat .dijitSelect .dijitButtonNode,
body.flat .dijitSelectMenu,
body.flat .dijitTextBox.dijitTextBox.dijitTextBox {
    background-color: #3b4252;
}

.flat .dijitMenuItemHover td {
    background-color: #4c566a;
}

.flat .dijitMenuItemSelected {
    background-color: #88c0d0
}

.flat .dijitMenuItemSelected td {
    background-color: #88c0d0
}

body.flat.ttrss_index .dijitPopup[aria-label=dijit_Menu_0] .dijitMenuItemDisabled td {
    box-shadow: inset 0 1px #4c566a;
}

.flat .dijitMenuPopup .dijitMenu {
    border-color: #88c0d0;
    border-radius: 10px;
}

body.flat.ttrss_index .dijitPopup {
    border-radius: 10px;
}

body.ttrss_main #headlines-frame #headlines-spacer a {
    border-radius: 15px;
}

body.ttrss_main #headlines-frame #headlines-spacer a:hover {
    color: #88c0d0;
}

#toolbar-frame#toolbar-frame #toolbar #selected_prompt {
    color: #d8dee9;
}

body.flat .dijitDialog {
    background-color: #3b4252;
    border: 1px solid #88c0d0;
    border-radius: 15px;
    box-shadow: 0 7px 3px -4px rgba(0, 0, 0, .3), 0 8px 8px rgba(0, 0, 0, .2);
}

body.flat :is(.dijitCheckBox, .dijitMultiSelect, .dijitSelect, .dijitTextBox):is(.dijitActive, .dijitFocused, .dijitHover):not(.dijitDisabled) {
    border-color: #81A1C1;
}

.dijitReset {
    color: #d8dee9;
}

.flat .dijitTabContainerTop-tabs .dijitTabChecked:before {
    height: 0;
}

body.flat .alt-primary:is(.dijitButton, .dijitComboButton, .dijitDropDownButton, .dijitToggleButton) .dijitButtonNode {
    background-color: #88c0d0;
}

body.flat .alt-primary:is(.dijitButton, .dijitComboButton, .dijitDropDownButton, .dijitToggleButton) .dijitButtonNode * {
    color: #2e3440 !important;
}

body.flat .alt-success:is(.dijitButton, .dijitComboButton, .dijitDropDownButton, .dijitToggleButton) .dijitButtonNode * {
    color: #2e3440 !important;
}

body.flat .alt-primary:not(.dijitComboButton):is(.dijitFocused, .dijitHover):is(.dijitButton, .dijitComboButton, .dijitDropDownButton, .dijitToggleButton) .dijitButtonNode,
body.flat .alt-primary.dijitComboButton :is(.dijitButtonNodeHover, .dijitDownArrowButtonFocused, .dijitDownArrowButtonHover),
body.flat .alt-primary.dijitComboButton .dijitButtonNode:has(.dijitButtonContentsFocused) {
    background-color: #88c0d0;
}

body.flat .alt-danger:is(.dijitButton, .dijitComboButton, .dijitDropDownButton, .dijitToggleButton) .dijitButtonNode {
    background-color: #bf616a;
}

body.flat .alt-success:is(.dijitButton, .dijitComboButton, .dijitDropDownButton, .dijitToggleButton) .dijitButtonNode {
    background-color: #a3be8c;
}

body.flat .alt-success:not(.dijitComboButton):is(.dijitFocused, .dijitHover):is(.dijitButton, .dijitComboButton, .dijitDropDownButton, .dijitToggleButton) .dijitButtonNode,
body.flat .alt-success.dijitComboButton :is(.dijitButtonNodeHover, .dijitDownArrowButtonFocused, .dijitDownArrowButtonHover),
body.flat .alt-success.dijitComboButton .dijitButtonNode:has(.dijitButtonContentsFocused) {
    background-color: #a3be8c;
}

body.flat .dijitAccordionInnerContainer,
body.flat label.dijitButton.dijitButton,
body.flat :is(.dijitButton, .dijitDropDownButton) .dijitButtonNode,
body.flat :is(.dijitButton, .dijitDropDownButton).alt-info .dijitButtonNode,
body.flat .dijitTextBox :is(.dijitDownArrowButton, .dijitUpArrowButton) {
    background-color: #3b4252;
}

body.flat .alt-info.alt-info:is(.dijitFocused, .dijitHover) .dijitButtonNode {
    color: #88c0d0 !important;
}

.flat .dijitCheckBox.dijitCheckBoxChecked {
    background-color: #a3be8c;
    border-color: #d8dee9;
}

body.flat.flat.flat .text-info {
    color: #88c0d0;
}

body.flat .dijitAccordionInnerContainer.dijitHover,
body.flat label.dijitButton.dijitButton:is(:hover, :focus-within),
body.flat :is(.dijitButton, .dijitDropDownButton):where(.dijitFocused, .dijitHover) .dijitButtonNode,
body.flat :is(.dijitButton, .dijitDropDownButton).alt-info:where(.dijitFocused, .dijitHover) .dijitButtonNode,
body.flat .dijitTextBox :is(.dijitDownArrowButtonHover, .dijitUpArrowButtonHover),
body.flat .dijitToolbar .dijitHover:not(.dijitSelect) .dijitButtonNode {
    background-color: #4c566a;
}

body.flat :is(.dijitButton, .dijitDropDownButton):where(.dijitActive) .dijitButtonNode,
body.flat .dijitToolbar .dijitActive:not(.dijitSelect) .dijitButtonNode {
    background-color: #4c566a;
}

body.flat .alt-warning:is(.dijitButton, .dijitComboButton, .dijitDropDownButton, .dijitToggleButton) .dijitButtonNode {
    background-color: #d08770;
}

body.flat .alt-warning:not(.dijitComboButton):is(.dijitFocused, .dijitHover):is(.dijitButton, .dijitComboButton, .dijitDropDownButton, .dijitToggleButton) .dijitButtonNode,
body.flat .alt-warning.dijitComboButton :is(.dijitButtonNodeHover, .dijitDownArrowButtonFocused, .dijitDownArrowButtonHover),
body.flat .alt-warning.dijitComboButton .dijitButtonNode:has(.dijitButtonContentsFocused) {
    background-color: #d08770;
}

body.flat .alt-warning:not(.dijitComboButton).dijitActive:is(.dijitButton, .dijitComboButton, .dijitDropDownButton, .dijitToggleButton) .dijitButtonNode,
body.flat .alt-warning.dijitComboButton :is(.dijitButtonNodeActive.dijitButtonNodeActive, .dijitDownArrowButtonActive) {
    background-color: #d08770;
}

#pref-tabs_tablist>div.dijitTabListWrapper.dijitTabContainerTopNone.dijitAlignCenter>div>div.dijitTabInner.dijitTabContent.dijitTab {
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}

.flat .dijitTabContainerLeft-tabs .dijitTabChecked:before {
    width: 0px;
}

.flat .dijitTabContainerLeft-tabs * {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
}

body.flat.flat.flat .alert-info {
    color: #88c0d0;
    background-color: #3b4252;
    border-color: #88c0d0;
}

.flat .dijitTreeExpando {
    color: #d8dee9;
}

body.ttrss_prefs #header>a:before {
    color: #88c0d0;
}

body.flat #pref_feeds_errors_btn,
body.flat .dijitValidationTextBoxError .dijitValidationContainer,
body.flat .exception-contents h3,
body.flat .Error:not(.dijitTreeRowSelected) .dijitTreeLabel,
body.flat #feeds-holder .Error .dijitTreeLabel,
body.flat .icon-error,
body.flat .net-alert {
    color: #bf616a !important;
}

body.flat #pref_feeds_errors_btn,
body.flat .dijitValidationTextBoxError .dijitValidationContainer,
body.flat .exception-contents h3,
body.flat .Error:not(.dijitTreeRowSelected) .dijitTreeLabel,
body.flat #feeds-holder .Error .dijitTreeLabel,
body.flat .icon-error,
body.flat .net-alert {
    color: #bf616a !important
}

body.ttrss_main .dijitTooltipContents {
    color: #2e3440;
    background: #88c0d0;
}

body.ttrss_main .dijitTooltipRight .dijitTooltipConnector {
    border-right-color: #88c0d0;
}

body.flat.ttrss_main .dijitDialog .panel {
    background-color: #3b4252;
}

body.flat.ttrss_main code {
    color: #88c0d0 !important;
}

body.flat.ttrss_main #overlay {
    background: #2e3440 !important;
}

body.flat .alt-primary.dijitComboButton :is(.dijitButtonNodeActive.dijitButtonNodeActive, .dijitDownArrowButtonActive) {
    background-color: #88c0d0;
}

.flat .dijitProgressBarTile {
    background: #88c0d0 !important;
}

#overlay #overlay_inner {
    color: #eceff4;
}

body.ttrss_main #feeds-holder #feedTree .dijitTreeNode .dijitTreeRow .counterNode {
    font-size: 12px;
}
